<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formPageStyles.css') }}" />
    <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='assets/icons8-red-circle-48.webp')}}" />
    <meta charset="UTF-8">
    <title>Final Resume</title>
</head>
<body>
<div class="popup" id="popup">
    <button id="close-button">.</button>
  <p>Developer could not  process your photo, <br> please forgive him, it's his first javascript Project</p>

</div>
<div class="cv_box">
    <svg class="form__go-back" id="back_button" width="64px" height="64px" viewBox="0 0 1024 1024" fill="#000000" class="icon" version="1.1" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M669.6 849.6c8.8 8 22.4 7.2 30.4-1.6s7.2-22.4-1.6-30.4l-309.6-280c-8-7.2-8-17.6 0-24.8l309.6-270.4c8.8-8 9.6-21.6 2.4-30.4-8-8.8-21.6-9.6-30.4-2.4L360.8 480.8c-27.2 24-28 64-0.8 88.8l309.6 280z" fill=""></path></g></svg>
    <section class="cv-section">
        <div class="cv">
          <div>
            <div class="cv__header">
              <div>
                <h2 class="cv__fullName">
                  <span class="cv__name">{{ data.name }}</span>
                  <span class="cv__lastName">{{ data.lastName }}</span>
                </h2>
                <div>
                    <div class="cv__email__box">
                    <img src="{{ url_for('static', filename='assets/email.svg') }}" alt="" />
                  <div class="cv__email">
                    <p>{{ data.email }}</p>
                  </div>
                        </div>
                    <div class="cv__phone__box">
                    <img src="{{ url_for('static', filename='assets/phone.svg') }}" alt="" />
                  <div class="cv__phone">
                    <p>{{ data.phone }}</p>
                  </div>
                    </div>
                </div>
                <h4 class="cv__subTitle">ჩემ შესახებ</h4>
                <p class="cv__text">
                  {{ data.aboutMe }}
                </p>
                  <br>
              </div>
              <div>
                <img src="{{ url_for('static', filename='assets/cv-photo.png') }}" alt="" class="cv__img" />
              </div>
            </div>
            <div class="devider-line"></div>
            <div>
              <h4 class="cv__subTitle">გამოცდილება</h4>
                <h2 class="cv__secondarySubTitle">
                  <span class="cv__job__title">{{ data.job }}</span>
                  <span class="cv__employer">{{ data.employer }}</span>
                </h2>
                <br>
                <div>
                    <span class="cv__date_start">{{ data.job_start }}</span>
                    -
                    <span class="cv__date_end">{{ data.job_end }}</span>
                </div>
                <br>
              <p class="cv__text jobdescr">
                {{ data.job_desc }}
              </p>
                <br>
              <div class="devider-line"></div>
            </div>
            <div>
              <h4 class="cv__subTitle">განათლება</h4>
              <h2 class="cv__secondarySubTitle" id="school">
                <span class="university">{{ data.school }}</span>, <span class="grade">{{ data.grade }}</span>
              </h2>
              <span class="cv__date_edu_end">{{ data.edu_end }}</span>
              <p class="cv__text_edu">
                {{ data.edu_desc }}
              </p>
              <div class="devider-line"></div>
            </div>
          </div>
          <img class="cv__logo-img" src="{{ url_for('static', filename='assets/cv-logo.svg') }}" alt="" />
        </div>
      </section>
    </div>
    <script type="text/javascript">
        
    document.getElementById("back_button").onclick = function () {
        location.href = "{{url_for('views.resume')}}";
    };
    </script>
    <script>
      let popup = document.getElementById("popup");
      let closeButton = document.getElementById("close-button");

      document.addEventListener("mouseover", function(event) {
        popup.style.display = "block";
        popup.style.left = event.clientX + "px";
        popup.style.top = event.clientY + "px";
      });

      closeButton.addEventListener("click", function() {
        popup.style.display = "none";
      });
    </script>
</body>
</html>
