<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/form.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='css/formPageStyles.css')}}" />
    <script src="{{url_for('static', filename='app/main.js')}}" defer></script>
    <title>Resume</title>
  </head>
  <body>
    <main class="form-page">
      <section class="form-section">
        <form data-multi-step>
          <div class="form-header">
            <h3 class="form-header__title">პირადი ინფო</h3>
            <div class="form-header__step-container">
              <span class="step-container__step">1</span>/3
            </div>
          </div>
          <div class="form-body">
            <div class="form-step active" data-step>
              <div class="row justify-between">
                <div class="controll">
                  <label class="controll__label">სახელი</label>
                  <div class="input-container">
                    <input type="text" placeholder="სახელი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
                <div class="controll">
                  <label class="controll__label">გვარი</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
              </div>
              <div>
                <p>პირადი ფოტოს ატვირთვა</p>
                <button>ატვირთვა</button>
                <input type="file" />
              </div>
              <div>
                <div class="controll">
                  <label class="controll__label">გვარი</label>
                  <textarea name=""></textarea>
                  <span class="controll__hint">Hint</span>
                </div>
              </div>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
              </div>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
              </div>

              <div class="row justify-between">
                <button type="button" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" data-step>
              <div data-dynamic-content>
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">ელ.ფოსტა</label>
                    <div class="input-container">
                      <input type="date" placeholder="გვარი" />
                    </div>
                    <span class="controll__hint">Hint</span>
                  </div>
                  <div class="controll">
                    <label class="controll__label">ელ.ფოსტა</label>
                    <div class="input-container">
                      <input type="date" placeholder="გვარი" />
                    </div>
                    <span class="controll__hint">Hint</span>
                  </div>
                </div>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea name=""></textarea>
                  <span class="controll__hint">Hint</span>
                </div>
                <div>გამყოფი ხაზი</div>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between">
                <button type="button" class="form-btn" data-prev>უკან</button>
                <button type="button" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" data-step>
              <div data-second-dynamic-content>
                <div class="controll controll--full">
                  <label class="controll__label">სასწავლებელი</label>
                  <div class="input-container">
                    <input type="text" placeholder="გვარი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{url_for('static', filename='assets/success.svg')}}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{url_for('static', filename='assets/fail.svg')}}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">Hint</span>
                </div>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">ელ.ფოსტა</label>
                    <div class="input-container">
                      <select name="" id="">
                        <option value="1">op 1</option>
                        <option value="1">op 1</option>
                        <option value="1">op 1</option>
                      </select>
                    </div>
                    <span class="controll__hint">Hint</span>
                  </div>
                  <div class="controll">
                    <label class="controll__label">ელ.ფოსტა</label>
                    <div class="input-container">
                      <input type="date" />
                    </div>
                    <span class="controll__hint">Hint</span>
                  </div>
                </div>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea name=""></textarea>
                  <span class="controll__hint">Hint</span>
                </div>
                <div>გამყოფი ხაზი</div>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between">
                <button type="button" class="form-btn" data-prev>უკან</button>
                <button type="button" class="form-btn">შენახვა</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <section class="cv-section">
        <div class="cv">
          <div>
            <div class="cv__header">
              <div>
                <h2 class="cv__title">ანზორ მუმლაძე</h2>
                <div>
                  <p>anzorr666@redberry.ge</p>
                  <p>+995 597 63 45 16</p>
                </div>
                <h4>ჩემ შესახებ</h4>
                <p>
                  ძალიან მიყვარს დიზაინის კეთება. დილით ადრე რომ ავდგები
                  გამამხნევებელი ვარჯიშების მაგიერ დიზაინს ვაკეთებ.
                </p>
              </div>

              <div>
                <img src="{{url_for('static', filename='/assets/cv-photo.png')}}" alt="" />
              </div>
            </div>
            <div class="devider-line"></div>
            <div>
              <h4>გამოცდილება</h4>
              <p>React Native Developer, Microsoft</p>
              <span>2020-09-23 - 2020-09-23</span>
              <p>
                Experienced Javascript Native Developer with 5 years in the
                industry. proficient withreact. Used problem-solving aptitude to
                encahge application performance by 14%.created data
                visualisation tools and integrated designs.
              </p>
              <div class="devider-line"></div>
            </div>
          </div>
        </div>
      </section>
    </main>
  </body>
</html>
