<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formPageStyles.css') }}" />
    <script src="{{ url_for('static', filename='app/utils.js') }}" defer></script>
    <script src="{{ url_for('static', filename='app/main.js') }}" defer></script>
      <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='assets/icons8-red-circle-48.webp')}}" />
      <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <title>Resume</title>
  </head>
  <body>
    <main class="form-page">
      <section class="form-section">
        <form data-multi-step method="POST" class="myForm">
          <img id="myButton_back" class="form__go-back" src="{{ url_for('static', filename='assets/go-back.png') }}" alt="" />
          <div class="form-header">
            <h3 class="form-header__title">პირადი ინფო</h3>
            <div class="form-header__step-container">
              <span class="step-container__step">1</span>/3
            </div>
          </div>
          <div class="form-body">
            <div class="form-step active" data-step>
              <div class="row justify-between">
                <div class="controll">
                  <label class="controll__label">სახელი</label>
                  <div class="input-container">
                    <input type="text" id="name" placeholder="ანზორ" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 ასო, ქართული ასოები</span>
                </div>
                <div class="controll">
                  <label class="controll__label">გვარი</label>
                  <div class="input-container">
                    <input type="text" id="lastName" placeholder="მუმლაძე" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 ასო, ქართული ასოები</span>
                </div>
              </div>
              <br>
                  <br>
              <div class="controll controll--photo">
                <p>პირადი ფოტოს ატვირთვა</p>
                <button type="button" id="photo-opener">ატვირთვა</button>

                <input type="file" id="photo" accept="image/*" />
              </div>
                <br>
                <br>
              <div>
                <div class="controll">
                  <label class="controll__label">ჩემს შესახებ (არასავლადებული)</label>
                  <textarea name="" id="aboutMe"></textarea>

                </div>
              </div>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input
                      type="text"
                      id="email"
                      placeholder="example@redberry.ge"
                    />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">უნდა მთავრდებოდეს @redberry.ge-თი</span>
                </div>
              </div>
                <br>
                  <br>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">მობილურის ნომერი</label>
                  <div class="input-container">
                    <input
                      type="text"
                      id="phone"
                      placeholder="+995557441190"
                    />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</span>
                </div>
              </div>
              <div class="row justify-between controlls-container">
                <button type="button" id="next_page" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" id="step-2" data-step>
              <div class="experiance-form">
                <div class="controll controll--full">
                  <label class="controll__label">თანამდებობა</label>
                  <div class="input-container">
                    <input id="job-input" type="text" placeholder="დეველოპერი, დიზაინერი, ა.შ." />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                  <br>
                  <br>
                <div class="controll controll--full">
                  <label class="controll__label">დამსაქმებელი</label>
                  <div class="input-container">
                    <input id="employer" type="text" placeholder="დამსაქმებელი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                <br>
                <br>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">დაწყების როცხვი</label>
                    <div class="input-container">
                      <input id="startDate" type="date" />
                    </div>

                  </div>
                  <div class="controll">
                    <label class="controll__label">დამთავრების რიცხვი</label>
                    <div id="endDate" class="input-container">
                      <input type="date" />
                    </div>

                  </div>
                </div>
                  <br>
                  <br>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea id="jobDesc" name="" placeholder="როლი თანამდებობაზე და ზოგადი აღწერა"></textarea>

                </div>
                  <br>
                  <br>
                <div class="devider-line"></div>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between controlls-container">
                <button  id="back_back_page" type="button" class="form-btn" data-prev>უკან</button>
                <button id="Next_next_page" type="button" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" id="step-3" data-step>
              <div class="education-form">
                <div class="controll controll--full">
                  <label class="controll__label edu">სასწავლებელი</label>
                  <div class="input-container">
                    <input id="schoolInput" type="text" placeholder="სასწავლებელი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                <br>
                <br>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">ხარისხი</label>
                    <div class="input-container">
                      <select name="" id="grade">
                        <option value="საშუალო სკოლის დიპლომი">საშუალო სკოლის დიპლომი</option>
                        <option value="ზოგადსაგანმანატლებლო დიპლომი">ზოგადსაგანმანატლებლო დიპლომი</option>
                        <option value="ბაკალავრი">ბაკალავრი</option>
                        <option value="მაგისტრი">მაგისტრი</option>
                        <option value="დოქტორი">დოქტორი</option>
                        <option value="ასოცირებული ხარისხი">ასოცირებული ხარისხი</option>
                        <option value="სტუდენტი">სტუდენტი</option>
                        <option value="კოლწჯი (ხარისხის გარშე)">კოლწჯი (ხარისხის გარშე)</option>
                        <option value="სხვა">სხვა</option>
                      </select>
                    </div>

                  </div>
                  <div class="controll">
                    <label class="controll__label">დამთავრების რიცხვი</label>
                    <div class="input-container">
                      <input id="eduend" type="date" />
                    </div>

                  </div>
                </div>
                  <br>
                  <br>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea id="eduDesc" name="" placeholder="განათლების აღწერა"></textarea>
                </div>
                <br>
                <br>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between controlls-container">
                <button id="back_page" type="button" class="form-btn" data-prev>უკან</button>
                <button type="submit" class="form-btn">შენახვა</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <section class="cv-section">
        <div class="cv">
          <div>
            <div class="cv__header">
              <div>
                <h2 class="cv__fullName">
                  <span class="cv__name">ანზორ</span>
                  <span class="cv__lastName">მუმლაძე</span>
                </h2>
                <div>
                    <div class="cv__email__box">
                    <img src="{{ url_for('static', filename='assets/email.svg') }}" alt="" />
                  <div class="cv__email">
                    <p>anzorr666@redberry.ge</p>
                  </div>
                        </div>
                    <div class="cv__phone__box">
                    <img src="{{ url_for('static', filename='assets/phone.svg') }}" alt="" />
                  <div class="cv__phone">
                    <p>+995 597 63 45 16</p>
                  </div>
                    </div>
                </div>
                <h4 class="cv__subTitle">ჩემ შესახებ</h4>
                <p class="cv__text">
                  ძალიან მიყვარს დიზაინის კეთება. დილით ადრე რომ ავდგები
                  გამამხნევებელი ვარჯიშების მაგიერ დიზაინს ვაკეთებ.
                </p>
                  <br>
              </div>
              <div>
                <img src="{{ url_for('static', filename='assets/cv-photo.png') }}" alt="" class="cv__img" />
              </div>
            </div>
            <div class="devider-line"></div>
            <div>
              <h4 class="cv__subTitle">გამოცდილება</h4>
                <h2 class="cv__secondarySubTitle">
                  <span class="cv__job__title">react native</span>
                  <span class="cv__employer">  microsoft</span>
                </h2>
                <br>
                <div>
                    <span class="cv__date_start">2020-09-23</span>
                    -
                    <span class="cv__date_end">2020-09-23</span>
                </div>
                <br>
              <p class="cv__text jobdescr">
                Experienced Javascript Native Developer with 5 years in the
                industry. proficient withreact. Used problem-solving aptitude to
                encahge application performance by 14%.created data
                visualisation tools and integrated designs.
              </p>
                <br>
              <div class="devider-line"></div>
            </div>
            <div>
              <h4 class="cv__subTitle">განათლება</h4>
              <h2 class="cv__secondarySubTitle" id="school">
                <span class="university">BTU</span>, <span class="grade">Student</span>
              </h2>
              <span class="cv__date_edu_end">2020-09-23</span>
              <p class="cv__text_edu">
                Experienced Javascript Native Developer with 5 years in the
                industry. proficient withreact. Used problem-solving aptitude to
                encahge application performance by 14%.created data
                visualisation tools and integrated designs.
              </p>
              <div class="devider-line"></div>
            </div>
          </div>
          <img class="cv__logo-img" src="{{ url_for('static', filename='assets/cv-logo.svg') }}" alt="" />
        </div>
      </section>
    </main>
        <script type="text/javascript">
        document.getElementById("myButton_back").onclick = function () {
            location.href = "{{url_for('views.index')}}";
        };
        </script>
   <script type="text/javascript">
       var element = document.getElementById("next_page")
       element.addEventListener("click",  (e)=> {
          document.querySelector(".step-container__step").textContent = '2';
       })
   </script>
    <script type="text/javascript">
       var element = document.getElementById("Next_next_page")
       element.addEventListener("click",  (e)=> {
          document.querySelector(".step-container__step").textContent = '3';
       })
       back_page
   </script>
   <script type="text/javascript">
       var element = document.getElementById("back_page")
       element.addEventListener("click",  (e)=> {
          document.querySelector(".step-container__step").textContent = '2';
       })
       back_back_page
   </script>
    <script type="text/javascript">
       var element = document.getElementById("back_back_page")
       element.addEventListener("click",  (e)=> {
          document.querySelector(".step-container__step").textContent = '1';
       })
   </script>
   <script type="text/javascript">
            const form = document.querySelector('.myForm');
            form.addEventListener('submit', event => {
              event.preventDefault();
              const nameInput = document.getElementById("name").value;
              const lastNameInput = document.getElementById("lastName").value;
              const photoInput = document.getElementById("photo");
              const phoneInput = document.getElementById("phone").value;
              const emailInput = document.getElementById("email").value;
              const aboutInput = document.getElementById("aboutMe").value;
              const schoolName = document.getElementById("schoolInput").value;
              const jobName = document.getElementById("job-input").value;
              const employer = document.getElementById("employer").value;
              const jobStart = document.getElementById("startDate").value;
              const jobEnd = document.getElementById("endDate").value;
              const jobDescription = document.getElementById("jobDesc").value;
              const grade = document.getElementById("grade").value;
              const eduEnd = document.getElementById("eduend").value;
              const eduDesc = document.getElementById("eduDesc").value;


              const formData = new FormData();
                formData.append('name', nameInput);
                formData.append('lastName', lastNameInput);
                formData.append('phone', phoneInput);
                formData.append('email', emailInput);
                formData.append('aboutMe', aboutInput);

                {#const reader = new FileReader();#}
                {#reader.readAsArrayBuffer(photoInput.files[0]);#}
                {#reader.onload = function () {#}
                {#  const imageByteArray = new Uint8Array(reader.result);#}
                {#  formData.append('image', imageByteArray, photoInput.name);#}
                {#  {;#}

                formData.append('school', schoolName)
                formData.append('job', jobName)
                formData.append('employer', employer)
                formData.append('job_start', jobStart)
                formData.append('job_end', jobEnd)
                formData.append('job_desc', jobDescription)
                formData.append('grade', grade)
                formData.append('edu_end', eduEnd)
                formData.append('edu_desc', eduDesc)

                fetch(`/form_submission`, {
                  method: 'POST',
                  body: formData
                })
                  .then(response => response.json())
                  .then(data => {
                    window.location.replace(`/resume/final/${nameInput}`);
                    console.log(data);
                  })

            });
   </script>
   <script type="text/javascript">
            window.addEventListener("beforeunload", event => {

            const name = document.querySelector('#name').value;
            const lastName = document.querySelector('#lastName').value;
            const photo = document.querySelector('#photo').files[0];
            const aboutMe = document.querySelector('#aboutMe').value;
            const email = document.querySelector('#email').value;

            localStorage.setItem('name', name.value);
            localStorage.setItem('lastName', lastName.value);
            localStorage.setItem('aboutMe', aboutMe.value);
            localStorage.setItem('email', email.value);
            });
   </script>
  </body>
</html>
