<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/form.css') }}" />
      <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formPageStyles.css') }}" />
    <script src="{{ url_for('static', filename='app/utils.js') }}" defer></script>
    <script src="{{ url_for('static', filename='app/main.js') }}" defer></script>
      <link rel="icon" type="image/png" sizes="48x48" href="{{url_for('static', filename='assets/icons8-red-circle-48.webp')}}" />
    <title>Resume</title>
  </head>
  <body>
    <main class="form-page">
      <section class="form-section">
        <form data-multi-step method="POST" name="myForm">
          <img id="myButton_back" class="form__go-back" src="{{ url_for('static', filename='assets/go-back.png') }}" alt="" />
          <div class="form-header">
            <h3 class="form-header__title">პირადი ინფო</h3>
            <div class="form-header__step-container">
              <span class="step-container__step">1</span>/3
            </div>
          </div>
          <div class="form-body">
            <div class="form-step active" data-step>
              <div class="row justify-between">
                <div class="controll">
                  <label class="controll__label">სახელი</label>
                  <div class="input-container">
                    <input type="text" id="name" placeholder="ანზორ" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 ასო, ქართული ასოები</span>
                </div>
                <div class="controll">
                  <label class="controll__label">გვარი</label>
                  <div class="input-container">
                    <input type="text" id="lastName" placeholder="მუმლაძე" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 ასო, ქართული ასოები</span>
                </div>
              </div>
              <br>
                  <br>
              <div class="controll controll--photo">
                <p>პირადი ფოტოს ატვირთვა</p>
                <button type="button" id="photo-opener">ატვირთვა</button>

                <input type="file" id="photo" accept="image/*" />
              </div>
                <br>
                <br>
              <div>
                <div class="controll">
                  <label class="controll__label">ჩემს შესახებ (არასავლადებული)</label>
                  <textarea name="" id="aboutMe"></textarea>

                </div>
              </div>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">ელ.ფოსტა</label>
                  <div class="input-container">
                    <input
                      type="text"
                      id="email"
                      placeholder="example@redberry.ge"
                    />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">უნდა მთავრდებოდეს @redberry.ge-თი</span>
                </div>
              </div>
                <br>
                  <br>
              <div class="row">
                <div class="controll controll--full">
                  <label class="controll__label">მობილურის ნომერი</label>
                  <div class="input-container">
                    <input
                      type="text"
                      id="phone"
                      placeholder="+995557441190"
                    />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">უნდა აკმაყოფილებდეს ქართული მობილურის ნომრის ფორმატს</span>
                </div>
              </div>
              <div class="row justify-between controlls-container">
                <button type="button" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" id="step-2" data-step>
              <div class="experiance-form">
                <div class="controll controll--full">
                  <label class="controll__label">თანამდებობა</label>
                  <div class="input-container">
                    <input class="job-input" type="text" placeholder="დეველოპერი, დიზაინერი, ა.შ." />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                  <br>
                  <br>
                <div class="controll controll--full">
                  <label class="controll__label">დამსაქმებელი</label>
                  <div class="input-container">
                    <input type="text" placeholder="დამსაქმებელი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                <br>
                <br>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">დაწყების როცხვი</label>
                    <div class="input-container">
                      <input type="date" />
                    </div>

                  </div>
                  <div class="controll">
                    <label class="controll__label">დამთავრების რიცხვი</label>
                    <div class="input-container">
                      <input type="date" />
                    </div>

                  </div>
                </div>
                  <br>
                  <br>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea name="" placeholder="როლი თანამდებობაზე და ზოგადი აღწერა"></textarea>

                </div>
                  <br>
                  <br>
                <div class="devider-line"></div>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between controlls-container">
                <button type="button" class="form-btn" data-prev>უკან</button>
                <button type="button" class="form-btn" data-next>
                  შემდეგი
                </button>
              </div>
            </div>
            <div class="form-step" id="step-3" data-step>
              <div class="education-form">
                <div class="controll controll--full">
                  <label class="controll__label">სასწავლებელი</label>
                  <div class="input-container">
                    <input type="text" placeholder="სასწავლებელი" />
                    <img
                      class="control__icon control__icon--success"
                      src="{{ url_for('static', filename='assets/success.svg') }}"
                      alt="icon"
                    />
                    <img
                      class="control__icon control__icon--fail"
                      src="{{ url_for('static', filename='assets/fail.svg') }}"
                      alt="icon"
                    />
                  </div>
                  <span class="controll__hint">მინიმუმ 2 სიმბოლო</span>
                </div>
                <br>
                <br>
                <div class="row justify-between">
                  <div class="controll">
                    <label class="controll__label">ხარისხი</label>
                    <div class="input-container">
                      <select name="" id="">
                        <option value="1">საშუალო სკოლი დიპლომი</option>
                        <option value="1">ზოგადსაგანმანატლებლო დიპლომი</option>
                        <option value="1">ბაკალავრი</option>
                        <option value="1">მაგისტრი</option>
                        <option value="1">დოქტორი</option>
                        <option value="1">ასოცირებული ხარისხი</option>
                        <option value="1">სტუდენტი</option>
                        <option value="1">კოლწჯი (ხარისხის გარშე)</option>
                        <option value="1">სხვა</option>
                      </select>
                    </div>

                  </div>
                  <div class="controll">
                    <label class="controll__label">დამთავრების რიცხვი</label>
                    <div class="input-container">
                      <input type="date" />
                    </div>

                  </div>
                </div>
                  <br>
                  <br>
                <div class="controll">
                  <label class="controll__label">აღწერა</label>
                  <textarea name="" placeholder="განათლების აღწერა"></textarea>
                </div>
                <br>
                <br>
                <button class="btn add-more" type="button">
                  მეტი გამოცდილების დამატება
                </button>
              </div>
              <div class="row justify-between controlls-container">
                <button type="button" class="form-btn" data-prev>უკან</button>
                <button type="button" class="form-btn" onclick="doFunction()">შენახვა</button>
              </div>
            </div>
          </div>
        </form>
      </section>
      <section class="cv-section">
        <div class="cv">
          <div>
            <div class="cv__header">
              <div>
                <h2 class="cv__fullName">
                  <span class="cv__name">ანზორ</span>
                  <span class="cv__lastName">მუმლაძე</span>
                </h2>
                <div>
                  <div class="cv__email">
                    <img src="{{ url_for('static', filename='assets/email.svg') }}" alt="" />
                    <p>anzorr666@redberry.ge</p>
                  </div>
                  <div class="cv__phone">
                    <img src="{{ url_for('static', filename='assets/phone.svg') }}" alt="" />
                    <p>+995 597 63 45 16</p>
                  </div>
                </div>
                <h4 class="cv__subTitle">ჩემ შესახებ</h4>
                <p class="cv__text">
                  ძალიან მიყვარს დიზაინის კეთება. დილით ადრე რომ ავდგები
                  გამამხნევებელი ვარჯიშების მაგიერ დიზაინს ვაკეთებ.
                </p>
              </div>

              <div>
                <img src="{{ url_for('static', filename='assets/cv-photo.png') }}" alt="" class="cv__img" />
              </div>
            </div>
            <div class="devider-line"></div>
            <div>
              <h4 class="cv__subTitle">გამოცდილება</h4>
                <h2 class="cv__secondarySubTitle">
                  <span class="cv__job__title">react native</span>
                  <span class="cv__employer">  microsoft</span>
                </h2>
              <span class="cv__date">2020-09-23 - 2020-09-23</span>
              <p class="cv__text">
                Experienced Javascript Native Developer with 5 years in the
                industry. proficient withreact. Used problem-solving aptitude to
                encahge application performance by 14%.created data
                visualisation tools and integrated designs.
              </p>
              <div class="devider-line"></div>
            </div>
            <div>
              <h4 class="cv__subTitle">გამოცდილება</h4>
              <p class="cv__secondarySubTitle">
                React Native Developer, Microsoft
              </p>
              <span class="cv__date">2020-09-23 - 2020-09-23</span>
              <p class="cv__text">
                Experienced Javascript Native Developer with 5 years in the
                industry. proficient withreact. Used problem-solving aptitude to
                encahge application performance by 14%.created data
                visualisation tools and integrated designs.
              </p>
              <div class="devider-line"></div>
            </div>
          </div>
          <img class="cv__logo-img" src="{{ url_for('static', filename='assets/cv-logo.svg') }}" alt="" />
        </div>
      </section>
    </main>
        <script type="text/javascript">
        document.getElementById("myButton_back").onclick = function () {
            location.href = "{{url_for('views.index')}}";
        };
        </script>
        <script src="https://code.jquery.com/jquery-3.5.1.js"
          integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
          crossorigin="anonymous"></script>

        <script type="text/javascript">
                    function doFunction()
            {
                var formData = JSON.stringify($(#myForm).serializeArray());
                $.ajax({
                      type: "POST",
                      url: "/api/call",
                      data: formData,
                      success: function(){},
                      dataType: "json",
                      contentType : "application/json"
                    });

            }
        </script>

  </body>
</html>
